.pop_nf_h3{
    display: flex;
    justify-content: center;
}
.filloutpage{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}
.Tasking{
    display: flex;
    justify-content: center;
}
.pop_main{
    display: flex;
    height: 100%;
    align-items: center;
}
.Card{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    transition: all .2s ease-in-out;
    justify-items: center;
    text-align: center;
}
.Card:hover{
    background-color: rgb(238, 238, 238);
    transform: scale(1.1);
}
.Jobs{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
    justify-items: center;
    text-align: center;
    margin-top: 1%;
}
#carousel-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#menu {
    height: 380px;
    width: 720px;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 2px 7px 7px gray;
}
#current-option {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-25%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#current-option-jobname {
    font-size: 1.6rem;
    line-height: 3rem;
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#current-option-information {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#current-option-systemname {
    font-size: 3rem;
    margin-top: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#previous-option {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    display: block;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
    background-size: cover;
    position: absolute;
    transform: translate(310px, 50px);
  }
  #next-option {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    display: block;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
    background-size: cover;
    position: absolute;
    transform: translate(310px, -50px) rotate(180deg);
  }
#buttons{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    justify-items: center;
    text-align: center;
    margin-top: 1%;
}
#image {
    height: 240px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }