.pop_nf_h3{
    display: flex;
    justify-content: center;
}
.filloutpage{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}
.Tasking{
    display: flex;
    justify-content: center;
}
.pop_main{
    display: flex;
    height: 100%;
}
.Card{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    transition: all .2s ease-in-out;
    justify-items: center;
    text-align: center;
}
.Card:hover{
    background-color: rgb(238, 238, 238);
    transform: scale(1.1);
}