.Body{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    border-radius: 3%;
    justify-content: center;
}
.home{
    background-color: aliceblue;
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
}
.login{
    background-color: aliceblue;
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
}
.search{
    border-radius: 2%;
    margin: 2%;
}