.Body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: auto;
    width: auto;
    background-color: #ace0f9;
}
.home{
    /* background-color: aliceblue; */
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
    size: auto;
}
.login{
    /* background-color: aliceblue; */
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
    size: auto;
}
.signup{
    /* background-color: aliceblue; */
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
    size: auto;
}
.explore{
    /* background-color: aliceblue; */
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
    size: auto;
}
.developers{
    /* background-color: aliceblue; */
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
    size: auto;
}
.logout{
    /* background-color: aliceblue; */
    border-radius: 2%;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 2%;
    size: auto;
}